@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7f7f7;
}

html {
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}